.property_container{
    display: flex;
    margin-bottom: calc(0.5% + 2px);
}

.property{
    width: 20%;
    border-radius: 2px;
    padding-left: 1%;
    font-size: 1.1rem;
}

.paragraph{
    color: #aeadab;
    font-size: 1.1rem;
}

.input{
    width: 100%;
    border-radius: 2px;
}

.property_value{
    color: #aeadab;
    width: 80%;
    border-radius: 2px;
    font-size: 1.1rem;
    word-break: break-all;
}

.property:hover{
    cursor: pointer;
}


@media (max-width: 590px) {
    .property_value{
        margin-left: 5%;
    }
}

@media (max-width: 440px) {
    .property_value{
        margin-left: 8%;
    }
}

@media ( max-width: 376px) {
    .property_value{
        margin-left: 5.5%;
    }
}


@media ( max-width: 321px) {
    .property_value{
        margin-left: 7%;
    }
}