a{
    text-decoration: none;
}

.video{
    width: calc(100% / var(--amount) - 20px);
    cursor: pointer;
    margin: 10px;

}

.channel_icon{
    width: 36px;
    height: 36px;
    border-radius: 45%;
    margin-right: 10px;
    margin-top: 50%;
}

.video_description{
    display: flex;
}

.video_preview{
    width: 100%;
    height: 65%;
}

.video_title{
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.4rem;
    font-size: 1rem;
    max-height: 4rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-decoration: none;
    color: black;
}

.video_channel_name{
    color: dimgray;
    font-size:  0.9rem;
    font-weight: 400;
}

.video_views{
    color: dimgray;
    font-size:  0.8rem;
    font-weight: 400;
}

.video_likes{
    color: dimgray;
    font-size:  0.8rem;
    font-weight: 400;
    margin-left: 10px;
}

.video_statistic_container{
    display: flex;
}

.video_description_text{
    padding-right: 0.5rem;
}

@media (max-width: 1100px) and (min-width: 400px){
    .video_statistic_container {
        flex-direction: column;
    }
    .video_likes{
        margin: 0;
    }
}
@media (max-width: 1400px) {
    .video_title{
        font-size: 0.9rem;
    }


}

@media (max-width: 1880px) {
    .video_title{
        font-size: 0.8rem;
    }
}
